.divLogicGateDisplay {
    flex: 1;
    min-height: 500px;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}

.divSelectedLogicGateInformation {
    flex: 1;
    vertical-align: top;
    width: 50%;
    display: inline-block;
}

.divSelectedLogicGateTruthTable {
    flex: 1;
    vertical-align: top;
    padding-top: 15px;
    width: 50%;
    display: inline-block;
}

.divSelectedLogicGateDisplayName {
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

.divSelectedLogicGateDescription {
    flex: 1;
    padding: 15px;
    text-align: left;
}

.divSelectedLogicGateFunction {
    flex: 1;
    padding: 15px;
    text-align: left;
}
